<figure class="figure">
    <img src="https://m.media-amazon.com/images/M/MV5BMjA1MTc1NTg5NV5BMl5BanBnXkFtZTgwOTM2MDEzNzE@._V1_.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">The Hateful Eight</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i>&nbsp; 8.2/10</figcaption>
</figure>
  
  <figure class="figure">
    <img src="https://m.media-amazon.com/images/M/MV5BYjRkYTI3M2EtZWQ4Ny00OTA2LWFmMTMtY2E4MTEyZmNjOTMxXkEyXkFqcGdeQXVyNDg4NjY5OTQ@._V1_.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="...">
    <figcaption class="figure-caption" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">The Ballad Of Buster Scruggs</figcaption>
    <figcaption class="figure-caption"><i class="bi bi-star"></i>&nbsp; 8.5/10</figcaption>
</figure>